<nav class="">
    <div class="navbar bg-secondary">
      <div class="logo"><h1><a href="/">StevexBenson</a></h1></div>
      <div class="nav-list">
          <div class="left-links">
              <div class="links">
                  <ul class="nav-items">
                      <li class="nav-list-items"><a href="/">Home</a></li>
                      <li class="nav-list-items"><a href="/about">About</a></li>
                      <!-- <li class="nav-list-items"><a href="/articles">Articles</a></li> -->
                  </ul>
              </div>
          </div>
          <div class="buttons">
              <ul class="nav-items">
                  {% if session.logged_in %}
                      <li class="nav-list-items"><a href="/dashboard">Dashboard</a></li>
                      <li class="nav-list-items"><a href="/create_acc">Create account</a></li>
                      <li class="nav-list-items"><a href="/logout">logout</a></li>
                  {% else %}
                      <li class="nav-list-items"><a href="/login">login</a></li>
                      <li class="nav-list-items"><a href="/register">Register</a></li>
                  {% endif %}
          </ul>
          </div>
    </div>
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
    </div>
</nav>