{% extends 'layout.html' %}

{% block body %}
   <h1>Add Article</h1>
   {% from 'includes/_formhelper.html' import render_field %}
   <form action="" method="post" novalidate>
        <div class="form-group">
            {{render_field(form.title, class_='form-control')}}
        </div>
        <div class="form-group mt-4">
            {{render_field(form.body, class_='form-control p-2')}}
        </div>
        <p><input type="submit" value="submit" class="btn btn-primary mt-4"></p>
    </form>
{% endblock %}