{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard  <small>Welcome  {{session.username}}</small></h1>
    <a href="/add_article" class="btn btn-success">Add article</a>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Createdate</th>
                <th>Opt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.title}}</td>
                <td>{{article.author}}</td>
                <td>{{article.create_date}}</td>
                <td><a href="" class="btn btn-primary">Edit</a></td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}