{% extends 'layout.html' %}

{% block body %}
    <div class="dash-h1">
        <h1>Dashboard </h1>
        <h3 class="text-secondary">Welcome  {{session.username}}</h3>
    </div>
    <div class="container accounts">
        <div class="accounts1">
            <h3> Savings account</h3>
            <p>Kes. 5000</p>
            <p>Hello</p>
        </div>
        <div class="accounts2">
            <h3>Share Capital</h3>
            <p>Kes. 5000</p>
            <p>Hello</p>
        </div>
        <div class="accounts3">
            <h3>Current account</h3>
            <p>Kes. 5000</p>
            <p>Hello</p>
        </div>
        <div class="accounts4">
            <h3>Fixed account</h3>
            <p>Kes. 5000</p>
            <p>Hello</p>
        </div>
    </div>
{% endblock %}