{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-justified bg-tertiary display-flex" >
        
        <div class="line-one">
            <h1>StevexBenson</h1>
            <p class="lead">SteveXBen Online Banking is a web-based banking application that 
                provides users with a secure and convenient platform for managing their finances.
                 The application offers a range of features, 
                including account management, fund transfers, transaction history, and more.</p>
        
            {% if not session.logged_in %}
                <a href="/register" class="btn btn-primary center">Register</a>
                <a href="/login" class="btn btn-success">Login</a>
            {% endif %}     
        </div>   
       <div class="line-two"><img src="/static/mbanking.jpg" alt=""></div>
    </div>  
{% endblock %}