<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename = 'bootstrap-5.3.2-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'app.css')}}">
    <title>StevexBenson</title>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}
        {% endblock %}
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>